html{
    overflow-y: auto !important;
}
.nav-padding {
    padding-left: 1%;
    padding-right: 1%;
}
.position-relative{
    position: relative !important;
}

.logo-img {
    background-image: url("../images/LOGOTIPO.png");
    background-repeat: no-repeat;
    width: 42px;
    margin-top: 12px;
}
.padding-bottom{
    padding-bottom: 16% !important;
}

.logo{
    margin-right: 80px !important;
}