.cadastro-form form{
    max-width: 860px;
    margin: 0 auto;
}

.section{
    background-color: white;
    width: 700px;
    
    border-color: gray;
    border-style: outset;
    margin-left: auto;
    margin-right: auto;
    
}

.cadastrar{
    margin-top: 20px;
}

select{
    border-color:gray !important;
}

.formulario{
margin-top: 60px;
}

.nav-wrapper{
    background-color: #24295dc2 !important;
}
