<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Empregando a inclusão</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Ordem de carregamento de css -->
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/cadastro.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/cadastro.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/menu.css">
    <script type="text/javascript" src="../public/javascripts/jquery.js"></script>
    <script type="text/javascript" src="../public/javascripts/validacao.js"></script>
</head>

<body>
  <!-- menu navbar -->
    <nav class="white">
        <div class="nav-wrapper nav-padding">
            <div class="left">
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-small-only"><i class="material-icons black-text"></i></a>
                <a href="/" class="left blue-compass brand-logo logo position-relative hide-on-med-and-down white-text"><i class="logo-img"></i>Empregando a <b class="orange-text">inclusão</b></a>
                <ul class="left hide-on-med-and-down position-relative left-divider show show-on-med-and-up">
                    <li><a href="/" class="blue-compass white-text textmenu">Área do candidato</a></li>
                    <li><a href="/" class="blue-compass white-text textmenu">Área da empresa</a></li>
                    <li><a href="/" class="blue-compass white-text textmenu">Leis trabalhistas</a></li>
                </ul>
            </div>
            <ul class="right hide-on-med-and-down">
                <!-- Em caso de visitante, mostra link login e botão cadastro-->
                <li><button class="waves-effect waves-light btn modal-trigger" data-target="modal1">ENTRAR</button></li>
                <!-- Em caso de usuário logado (user ou admin), mostra o olá e o menu dropdown -->
                <li class="blue-compass white-text"></li>
            </ul>            
        </div>
    </nav>
<!-- fim do menu navbar -->

<!-- inicio do formulario -->
    <div class="row formulario">
      <h2>Cadastre-se aqui</h2>
        <div class="section">
        <p class="contato">INFORMAÇÕES DE CONTATO</p>        
          <div class="row">
            <form action="/" method="POST" class="col s12" onsubmit="return validacao()">
              <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="DIGITE SEU NOME" id="nome" type="text" name="nome" class="validate">
                    <label class="active" for="nome">Nome</label>
                  </div>
              </div>                                            
              <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="DIGITE UM E-MAIL VÁLIDO" id="email" type="email" name="email" class="validate">
                    <label class="active" for="email">Email</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6 m6">
                      <input placeholder="ESCOLHA UMA SENHA" id="password" type="password" name="senha" class="validate">
                      <label class="active" for="password">Senha</label>
                  </div>
                  <div class="input-field col s6 m6">
                      <input placeholder="REPETIR SENHA" id="repsenha" type="password" name="repsenha" class="active >%=user.invalidClass%>" placeholder=" " name="repsenha">
                      <label class="active" for="repsenha">Repetir senha</label>
                  </div>
              </div>
               



      <!-- inicio do select do enquadramento -->
      <select class="browser-default" id="enquadramento" name="enquadramento">
        <option value="" disabled selected>Enquadramento</option>
        <optgroup label="Deficiência Física">
                <option value="Amputação">Amputação</option>
                <option value="Hemiplegia">Hemiplegia</option>
                <option value="Membros com deformidade congênita ou adquirida">Membros com deformidade congênita ou adquirida</option>
                <option value="Monoparesia">Monoparesia</option>
                <option value="Monoplegia">Monoplegia</option>
                <option value="Paralisia cerebral">Paralisia cerebral</option>
                <option value="Paraparesia">Paraparesia</option>
                <option value="Paraplegia">Paraplegia</option>
                <option value="Tetraparesia">Tetraparesia</option>
                <option value="Tetraplegia">Tetraplegia</option>
                <option value="Triparesia">Triparesia</option>
                <option value="Triplegia">Triplegia</option>
                <option value="Nanismo">Nanismo</option>
                <option value="Ostomia">Ostomia</option>
                <option value="Hemiparesia">Hemiparesia</option>
                <option value="Outros">Outros</option>
        </optgroup>
        <optgroup label="Deficiência Auditiva">
                <option value="Surdez moderada">Surdez moderada</option>
                <option value="Surdez severa">Surdez severa</option>
                <option value="Anacusia">Anacusia</option>
        </optgroup>
        <optgroup label="Deficiência Visual">
                <option value="Deficiência Visual - Baixa Visão">Baixa Visão</option>
                <option value="Deficiência Visual - Cegueira">Cegueira</option>
                <option value="Deficiência Visual - Visão Monocular">Visão Monocular</option>
        </optgroup>
        <optgroup label="Deficiência Intelectual">
                <option value="Deficiência Intelectual">Deficiência Intelectual</option>
        </optgroup>
        <optgroup label="Deficiência Psicossocial">
                <option value="Deficiência Psicossocial">Deficiência Psicossocial</option>
        </optgroup>
        <optgroup label="Reabilitado do INSS">
                <option value="Reabilitado do INSS">Reabilitado do INSS</option>
        </optgroup>
      </select>
      <!-- fim do enquadramento -->

      <!-- checkbox do aviso -->
                      <div class="aviso">
                            <p>
                              <label>
                                      <input type="checkbox" class="check" required />
                                      <span>Aviso: cadastro exclusivo para pessoas com deficiência. Declaro que sou pessoa com deficiência ou reabilitado do INSS nos termos da legislação brasileira. </span>
                              </label>
                             </p>                                                                     
                      </div>
      <!-- fim do checbox aviso -->

      <!-- botão cadastrar -->
                <div class="col s12 center btn-margin-top cadastrar">
                    <input class="btn bg-blue-compass rounded alert" type="submit" value="Cadastrar"/>
               </div>
            </form>
      <!-- fim do formulario -->
          </div>
        </div>
    </div>

    <!-- //---------------------------- -->

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>BEM VINDO</h4>
  
        <div class="row">
          <form class="col s12">
            
            <div class="row">
              <div class="input-field col s12">
                <input id="image_title" type="email" class="validate">
                <label for="image_title">E-mail</label>
              </div>
            </div>       
            <div class="row">
              <div class="input-field col s12">
                <input id="image_title" type="password" class="validate">
                <label for="image_description">Senha</label>
              </div>
            </div>             
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Entrar</a>
        <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Sair</a>

      </div>
    </div>
  
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
 
<!-- ------------------------------------ -->
  </body>
</html>