<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Empregando a inclusão</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Ordem de carregamento de css -->
    <link rel="stylesheet" type="text/css" href="../public/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../public/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/cadastro.css">

   
    <!-- Ordem de carregamento de css -->
</head>

<body>

        <nav class="white">
                <div class="nav-wrapper nav-padding z-depth-2">
                    <div class="left">
                        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-small-only"><i class="material-icons black-text"></i></a>
                        <!-- <a href="/" class="left blue-compass brand-logo position-relative hide-on-med-and-down black-text"><i class="logo-img"></i>Empregando a inclusão</a> -->
                        <ul class="left hide-on-med-and-down position-relative left-divider show show-on-med-and-up">
                            <li><a href="/" class="blue-compass white-text">EMPREGANDO A INCLUSÃO LOGO</a></li>
                            <li><a href="/" class="blue-compass white-text">Área do Candidato</a></li>
                            <li><a href="/dailynote" class="blue-compass white-text">Área da empresa</a></li>
                            <li><a href="/helpcenter" class="blue-compass white-text">Fale Conosco</a></li>
                        </ul>
                    </div>
                    <ul class="right hide-on-med-and-down">
                        <!-- Em caso de visitante, mostra link login e botão cadastro-->
                        <li><a href="/login" class="blue-compass white-text">Entrar</a></li>
                        <li><a href="/cadastro" class="waves-effect waves-light btn bg-blue-compass rounded <%if(user.tipo=='user' || user.tipo=='admin'){%><%='hide'%><%}%>">Cadastrar-se</a></li>
                        <!-- Em caso de usuário logado (user ou admin), mostra o olá e o menu dropdown -->
                        <li class="blue-compass white-text">Olá, Julia! </li>
                      
                    </ul>
                    
                </div>
            </nav>

        <div class="row formulario">
            <div class="section">
                    <div class="row">
                            <form class="col s12 " >
                              <div class="row">
                                <div class="input-field col s12">
                                  <input id="first_name" type="text" class="validate">
                                  <label class="active" for="first_name">Nome</label>
                                </div>
                              </div>
                                                        
                              <div class="row">
                                <div class="input-field col s12">
                                  <input id="email" type="email" class="validate">
                                  <label class="active" for="email">Email</label>
                                </div>
                              </div>

                              <div class="row">
                                    <div class="input-field col s6 m6">
                                      <input id="password" type="password" class="validate">
                                      <label class="active" for="password">Password</label>
                                    </div>
                                  
                             
                                    <div class="input-field col s6 m6">
                                        <input id="repsenha" type="password" class="active <%=user.invalidClass%>" placeholder=" " name="repsenha">
                                        <label class="active" for="repsenha">Repetir senha</label>
                                    </div>
                                </div>

                                  <select class="browser-default">
                                    <option value="" disabled selected>Enquadramento</option>
                                    <option value="1">Amputação</option>
                                    <option value="2">Tetraplegia</option>
                                    <option value="3">Outros</option>
                                  </select>

                                  <div class="col s12 center btn-margin-top cadastrar">
                                        <input class="btn bg-blue-compass rounded" type="submit" value="Cadastrar" />
                                        
                                    </div>


                            </form>
                          </div>
            </div>
        </div>

        <script type="text/javascript" src="../public/js/cadastro.js"></script>


</body>
</html>